body{
background-color: var(--cor-de-fundo);

}

:root{
--cor-de-fundo: #ffffff;
--cor-de-texto: black;
--cor-do-cabeçalho: rgb(128, 128, 128);
--cinza: #abbbc5;
}
header{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    background-color: var(--cor-do-cabeçalho);
    border: 2px solid var(--cor-de-texto);

}

img{
    width: 10%;
}

.imagem{
    width: 10%;

}

.imagem-1{
    width: 10%;
}

.imagem-2{
    width: 10%;
}

.apresentacao{
    display: flex;
    background-color: var(--cinza);
    border: 2px solid var(--cor-de-texto);

}
.foto-equipe{
    width: 10%;
}